<div class="event-comment">
    <a href="/UserProfile/@ViewBag.UserId"><img src="@ViewBag.Imagelink" alt="" width="45em"></a>
    <p><a href="/UserProfile/@ViewBag.UserId">@ViewBag.UserName</a>@ViewBag.Comment</p>
</div>